
@import './mixin.scss';

@include boxModel(m, 20);
@include boxModel(m, 50, t);
@include boxModel(m, 20, b);
@include boxModel(m, 20, l);
@include boxModel(m, 20, r);
@include boxModel(p, 20);
@include boxModel(p, 30, t);
@include boxModel(p, 30, b);
@include boxModel(p, 20, l);
@include boxModel(p, 20, r);
@include display();
@include pos();
@include wh(w, 400);
@include wh(h, 400);
@include fs(40);

// flex相关熟悉
.df {
  display: flex;
}
.s-fdc{
  flex-direction: column;
}
.s-fww {
  flex-wrap: wrap;
}
.s-jcc {
  justify-content: center;
}
.s-jcfs{
  justify-content: flex-start;
}
.s-jcfe{
  justify-content: flex-end;
}
.s-jcfs {
  justify-content: flex-start;
}
.s-jcsa {
  justify-content: space-around;
}
.s-jcsb {
  justify-content: space-between;
}
.s-aic {
  align-items: center;
}
// box
.bs{
  box-sizing: border-box;
}
// 浮动
.fl-l {
  float: left;
}
.fl-r {
  float: right;
}
// 其他
.w-100 {
  width: 100%!important;
}
.h-100 {
  height: 100%!important;
}
.va-m {
  vertical-align: middle;
}
.ta-c{
  text-align: center;
}
.ta-l {
  text-align: left;
}
.ta-r {
  text-align: right;
}
// 字体
.fwb {
  font-weight: bold;
}
// 字体颜色
.cl-black {
  color: #333!important;
}
.cl-red {
  color: #F56C6C!important;
}
.cl-green {
  color: #00CB7C!important;
}
.cl-yellow {
  color: #F6AC2D!important;
}
.cl-purple {
  color: #9A68B4!important;
}
.cl-blue {
  color: #58A2FB!important;
}
.cl-grey-c {
  color: #ccc;
}
.cl-grey-9 {
  color: #999;
}
.cl-grey-d8 {
  color: #d8d8d8;
}
.cl-white {
  color: #fff;
}
//边框
.bd-gray-ele {
  border: 1px solid #EBEEF5;
}
.bd-gray {
  border: 1px solid #E6E6E6;
}
// 背景色
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #F0F0F0;
}
// 其他
.ofh {
  overflow: hidden;
}
.ofa-y {
  overflow-y: auto;
}
.cp {
  cursor: pointer;
}

// 字体按钮样式
.txt-btn {
  font-size: 14px;
  &--green {
    color: #00CB7C!important;
  }
  &--red {
    color: #EB5444!important;
  }
}

// 不可编辑表单样式
.file--span {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 16px;
  overflow: hidden;
  color: #323233;
  line-height: 24px;
  background-color: #fff;
}